body {
    margin: 0;
    padding: 0;
    overflow: auto;
    position: relative;
    height: 2560px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent;
}

.menu {
    background: #202024 repeat left top;
    left: -285px;  /* start off behind the scenes */
    height: 100%;
    position: fixed;
    width: 285px;
    color: #fff;
    background-image: url('/static/img/menu-font.jpg');
}

.menu ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #636366;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 45px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 3px;
}

.menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.row{
    margin: 0;
}
.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
}

.icon-close i {
    padding: 0 0 0 10px;
}

.main-container {
    background-image: url('/static/img/zimnyaya-ribalka.jpg');
    height: 100%;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    padding: 0 0 0 0;
    color: whitesmoke;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.icon-menu {
    color: #fff;
    cursor: pointer;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding: 25px 25px 0 25px;
    text-decoration: none;
    text-transform: uppercase;
    float: left;
    width: 8.33333333%;
}

@media (min-width: 500px) {.icon-menu {width: 20%;}}
@media (min-width: 795px) {.icon-menu {width: 40%;}}
@media (min-width: 1000px) {.icon-menu {width: 50%;}}
@media (min-width: 1185px) {.icon-menu {width: 58.33333333%;}}

.icon-menu i {
  margin-right: 5px;
  display: inline-block;
}

.icon-menu p {
  margin-right: 5px;
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.right-navbar{
    float: right;
    width: 33.33333333%;
    padding: 25px 0 0 0;
}

@media (min-width: 500px) {.right-navbar {width: 35%;}}
@media (min-width: 795px) {.right-navbar {width: 25%;}}
@media (min-width: 1000px) {.right-navbar {width: 20%;}}
@media (min-width: 1185px) {.right-navbar {width: 16.66666667%;}}

.navigation{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.navigation>li{
    display: inline;
    padding-right: 15px;
}

.navigation>li>a, .navigation>li>a:visited, .navigation>li>a:focus{
    text-decoration: none;
}

.navigation>li>a:hover{
    text-decoration: none;
    color: #2aabd2;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.navigation>li>a{
    color: whitesmoke;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    display: inline;
    text-decoration: none;
}

.dropdown-menu{
    background-color: transparent;
}

.dropdown-menu>li>a{
    background-color: transparent;
    color: whitesmoke;
}

.dropdown-menu>li>a:hover{
    background-color: transparent;
    color: #2aabd2
}

.search-div{
    width: 58.33333333%;
    float: right;
    vertical-align: middle;
}

@media (min-width: 500px) {.search-div {width: 45%;}}
@media (min-width: 795px) {.search-div {width: 35%;}}
@media (min-width: 1000px) {.search-div {width: 30%;}}
@media (min-width: 1185px) {.search-div {width: 25%;}}

.search{
    padding: 10px 0 0 0;
    display: inline-block;
    right: 20px;
    margin-right: 0;
}

.form-control{
    display: inline-block;
    width: auto;
}

.jumbotron{
    background-color: transparent;
    padding: 0;
    border-color: transparent;
}
