.jumbotron h1{
    width: 60%;
    height: 60px;
    font-size: 20px;
    padding: 0 0 0 25px;
    color: #00405f;
}
@media screen and (min-width: 500px) {.jumbotron h1 {font-size: 30px;
                                                     height: 115px;}}
@media screen and (min-width: 768px) {.jumbotron h1 {font-size: 35px;
                                                      height: 180px;}}
@media screen and (min-width: 1000px) {.jumbotron h1 {font-size: 45px;
                                                      height: 220px;}}
@media screen and (min-width: 1185px) {.jumbotron h1 {font-size: 63px;
                                                      height: 275px;}}


.places-for-fishing{
    background-image: url('/static/img/menu-font.jpg');
    height: 480px;
    margin: 0;
}

.places-for-fishing h1{
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding: 25px 0 0 0;
    height: auto;
}

.col-md-4 {
    padding: 0;
    text-align: center;
}

.places-for-fishing img{
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

#center-img{
    height: 80%;
    width: 80%;
}

.explore{
    align-self: center;
    background-color: #00405f;
    padding: 10px 25px 10px 25px;
    margin-top: 25px;
    color: rgba(90, 202, 198, 0.75);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px #0f253c;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 26px;

    background-image: -khtml-gradient(linear, left top, left bottom, from(#08345f), to(#4f71a0));
    background-image: -moz-linear-gradient(top, #08345f, #4f71a0);
    background-image: -ms-linear-gradient(top, #08345f, #4f71a0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #08345f), color-stop(100%, #4f71a0));
    background-image: -webkit-linear-gradient(top, #08345f, #4f71a0);
    background-image: -o-linear-gradient(top, #08345f, #4f71a0);
    background-image: linear-gradient(#08345f, #4f71a0);
    border-color: #08345f #00405f hsl(209, 84%, 20%);
    -webkit-font-smoothing: antialiased;
}

.explore:hover, .explore:focus, .explore:visited{
    color: whitesmoke;
    border-color: #08345f #00405f hsl(209, 84%, 20%);
    text-decoration: underline;
}

.lakes{
    background-image: url("/static/img/lake-font.jpg");
    height: 380px;
    margin: 0;
}

.lakes h1{
    color: #00405f;
    text-align: center;
    margin: auto;
    padding: 25px 0 0 0;
    height: auto;
}

.fish{
    margin: 0;
}

.fish h1{
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding: 25px 0 0 0;
    height: auto;
}