body {
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 5px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin-heading{
  margin-top: 50px;
}

.first-time{
  display: inline-block;
  padding-left: 20px;
  color: whitesmoke;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.register{
  font-size: 16px;
  float: right;
  padding: 10px 40px 10px 10px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  color: whitesmoke;
}

.sign-in{
  background-image: url('/static/img/zimnyaya-ribalka.jpg');
  padding-bottom: 0;
}

.first-heading{
  color: whitesmoke;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.place-holder{
  padding: 25px 0 0 0;
}