<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/base.css" rel="stylesheet">
    {% block static %}{% endblock %}
    <script type="text/javascript" src="http://gc.kis.scr.kaspersky-labs.com/1B74BD89-2A22-4B93-B451-1C9E1052A0EC/main.js"
            charset="UTF-8"></script>
    {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title>Fisherman</title>
    {% endif %}
</head>

<body>
    <!--Menu bar-->
    <div class="menu">
        <!-- Menu icon -->
        <div class="icon-close">
            <i class="fa fa-times fa-2x"></i>
        </div>

        <!-- Menu -->
        <ul>
            <li><a href={{ url_for('index') }}>Home</a></li>
            <li><a href="#">Zecs</a></li>
            <li><a href="#">Lakes</a></li>
            <li><a href="#">Fish</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">PhotoGallery</a></li>
            <li><a href="#">VideoGallery</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    <!--Menu bar closed-->
    </div>

    <!--main container -->
    <div class="main-container">

    <div class="row">
        <!--navbar-->
        <div class="icon-menu">
            <!--Menu button-->
            <i class="fa fa-bars"></i>
            <p>Menu</p>
        </div>

        <!--right navigation bar -->
        <div class="right-navbar">
            <ul class="navigation">
                <li class="dropdown">
                    <a href="#" class="toggle-dropdown" data-toggle="dropdown">Language <strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Russian</a>
                            </li>
                            <li>
                                <a href="#">French</a>
                            </li>
                            <li>
                                <a href="#">English</a>
                            </li>
                        </ul>
                    </li>
                    <li class="log">
                        {% if current_user.is_authenticated %}
                            <a href={{ url_for('logout') }}>Logout</a>
                        {% else %}
                            <a href={{ url_for('login') }}>Login</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="#" >Me</a>
                    </li>
              </ul>
        </div>

        <!--search form-->
        <div class="search-div">
            <form class="search">
                <div>
                    <input type="text" class="form-control">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="jumbotron">
    {% block content %}{% endblock %}
    </div>
    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/scripts.js"></script>
    <script src="static/js/base.js"></script>
  </body>
</html>