{% extends "base.html" %}

{% block static %}
    <link href="static/css/index.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <h1>Find your place for fishing in Quebec!</h1>
    <div class="row places-for-fishing">
        <h1>Explore best places</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="static/img/1.jpg"/>
            </div>
            <div class="col-md-4">
                <img src="static/img/2.jpg" id="center-img"/>
                <a href="#" class="btn btn-default explore"> Explore </a>
            </div>
            <div class="col-md-4">
                <img src="static/img/3.jpg"/>
            </div>
        </div>
    </div>
    <div class="row lakes">
        <h1>Discover new lakes</h1>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-default explore"> Discover </a>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="row fish">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h1>Catch your fish</h1>
                <a href="#" class="btn btn-default explore"> Catch </a>
            </div>
        </div>
    </div>
{% endblock %}