<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login to BelaCad Fisherman</title>

    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/signin.css" rel="stylesheet">
    <link href="static/css/bootstrap-social.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="sign-in">
    <div class="container-fluid">
      <div class="form-signin">
          <h2 class="form-signin-heading first-heading">Please sign in with</h2>
          <a href="{{ url_for('oauth_authorize', provider='facebook') }}" class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Facebook
          </a>
          <a href="{{ url_for('oauth_authorize', provider='twitter') }}" class="btn btn-block btn-social btn-twitter">
            <span class="fa fa-twitter"></span> Twitter
          </a>
          <a href="{{ url_for('oauth_authorize', provider='google') }}" class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> Google
          </a>
          <h2 class="form-signin-heading" align="center">OR</h2>
      </div>
      <form class="form-signin" action="" method="post" name="login">
          {{ form.hidden_tag() }}
        <label for="inputEmail" class="sr-only">Email address</label>
          {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
          {{ form.email(class_="form-control", placeholder="Email address", id="inputEmail") }}
        <label for="inputPassword" class="sr-only">Password</label>
          {{ form.password(class_="form-control", placeholder="Password", id="inputPassword") }}
        <div class="checkbox">
          <label>
            {{ form.remember_me }} Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="register-block">
            <h4 class="first-time">First time here?</h4>
            <a class="register" role="link" href={{ url_for('register') }}>Register</a>
        </div>
      </form>

    </div> <!-- /container -->
  </body>
</html>
