<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Register to BelaCad Fisherman</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="sign-in">
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '514206005410089',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>

    <div class="container-fluid">
      <form class="form-signin" action="{{ url_for('register') }}" method="post" name="login">
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading first-heading">Please register</h2>
        {% for message in form.nickname.errors %}
          <div class="flash" style="color: red;">{{ message }}</div>
        {% endfor %}
        <p class="place-holder"></p>
        {{ form.nickname(class_="form-control", placeholder='nickname') }}
        {% for message in form.email.errors %}
          <div class="flash" style="color: red;">{{ message }}</div>
        {% endfor %}
        {{ form.email(class_="form-control", placeholder='email') }}
        {% for message in form.password.errors %}
          <div class="flash" style="color: red;">{{ message }}</div>
        {% endfor %}
        {{ form.password(class_="form-control", placeholder="password") }}
        {{ form.submit(class_='btn btn-lg btn-primary btn-block') }}
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
  </body>
</html>
